
/* BG COLOR */
body {
    background-color: black;
}

/* HEADER */
.header-container {
    min-height: 60px;
}

.function-buttons {
    display: flex;
    justify-content: end;
}


/* MAIN */

main {
    overflow: auto;
}
.main-container {
    min-height: calc(100vh - 160px);
}


/* DA SISTEMARE */
main > .partecipants-container {
    margin: 0 auto;
    width: 95%;
    display: flex;
    color: white;
    height: calc(100vh - 160px);
    flex-wrap: wrap;
}


.single-partecipant {
    min-width: calc(100% / 7 - 5px);
    margin-left: 2.5px;
    margin-right: 2.5px;
    height: calc(((100vh - 160px) / 5) - 5px);
    margin-top: 2.5px;
    margin-bottom: 2.5px;

    position: relative;
}



/* FOOTER */
.footer-container {
    min-height: 100px;
    background-color: rgb(43, 43, 43);
}

footer > .footer-function-buttons {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > .footer-function-buttons > .input-output-controls {
    display: flex;
    justify-content: space-between;
    width: 8%;
    align-items: center;
    margin-left: 10px;
}

.bottone {
    display: flex;
    flex-direction: column;
    align-items: center;
}




footer > .footer-function-buttons > .input-funzioni-controls {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    margin-left: 10px;
}


footer > .footer-function-buttons >  .input-end-controls {
    display: flex;
    justify-content: center;
    width: 8%;
    align-items: center;
    height: 100%;
    background-color: rgb(112, 112, 112);
    font-weight: bolder;
}



