/* reset globali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utilizzare i do do   "TODO",
        "FIXME",
        "BUG",
        "NOTE",
        "HACK",
        "REVIEW",
        "MARK"
 */

